<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>


    <!-- FIX WARNING -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetCareApp">

        <receiver
            android:name=".ui.user.Alarm.AlarmReceiver"
            android:exported="false" />
        <receiver
            android:name=".ui.user.Alarm.DismissReceiver"
            android:exported="false" />

        <receiver android:name=".ui.user.Alarm.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.admin.lichhen.AdminChiTietLichHenActivity" />
        <activity
            android:name=".ui.admin.lichhen.AdminLichHenActivity" />
        <activity android:name=".ui.auth.DangKyActivity"/>
        <activity android:name=".ui.main.MainActivity"/>
        <activity android:name=".ui.admin.AChiNhanhActivity"/>
        <activity android:name=".ui.user.UTrangChuActivity"/>
        <activity android:name=".ui.user.UTimPhongActivity"/>
        <activity android:name=".ui.user.Pet.AddPetActivity" />
        <activity android:name=".ui.user.Pet.PetDetailActivity"/>
        <activity android:name=".ui.user.Pet.ThemChuongBaoActivity"/>
        <activity android:name=".ui.user.TrangChu.UTrangChuActivity" />
        <activity android:name=".ui.user.UCaiDatActivity" />
        <activity android:name=".ui.user.LichHen.AddLichHenActivity"/>
        <activity android:name=".ui.user.ULichHenActivity" />

        <activity
            android:name=".ui.auth.DangNhapActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



    </application>

</manifest>